Exercise 1: Create a Jupyter Notebook

Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized. First of all we will review some data science languages, tools, libraries, and arithmetic exercises.

Exercise 4 - Create a markdown cell to list data science languages

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java

Exercise 5 - Create a markdown cell to list data science libraries

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

Exercise 6 - Create a markdown cell with a table of Data Science tools

# Data Science Tools

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [24]:
(3*4)+5

#This a simple arithmetic expression to mutiply then add integers

17

Exercise 9 - Create a code cell to convert minutes to hours

In [27]:
200/60

#This will convert 200 minutos to hours by diving by 60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

## Objectives: ## 

- List popular languages for Data Science
- Identify commonly used Data Science libraries
- Explore different open-source Data Science tools
- Perform basic arithmetic operations in Python
- Understand the process of converting units in Python (e.g., minutes to hours)

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author 
Camilo Suazo Mel√©ndez